$primary_color: #0e80f6;$secondary_color: #000000;$third_color: #0e80f6;$link_color: #0e80f6;$link_color_hover: #0ed8f6;$link_color_active: #0ed8f6;$gradient_color_from: #0e80f6;$gradient_color_to: #0ed8f6;
                $body_default_font: Roboto;
            
                $heading_default_font: Poppins;
            